h1 {
  font-family: Helvetica Neue;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
  color: white;
  left: 0;
  position:absolute;
  top: 65px;
  width: 100%;
  font-size: 35px;
}

h2 {
  font-family: Helvetica Neue;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
  color: #383838;
  font-size: 17px;
}

h3 {
  font-family: Helvetica Neue;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
  color: #383838;
  font-size: 14px;
}

header {
	font-family: Futura;
	background-color: white;
	margin: 0% 0px 0px 5%;
}

#welcome{
  
}

#title {
	font-family: Futura;
	background-color: pink;
}


#main-header {
	height: 100px;
}


#banner {
  display: block;
  background-color: blue;
  background-image: url(http://3.bp.blogspot.com/-sG18PJmXU2E/UKO4zlUekSI/AAAAAAAAFrA/1jl_xdjiLKA/s1600/Abstarct-Light-02-FaceBook-HD-Timeline-Banner.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 90%;
	height: 200px;
	
  
}

.womens {
  background-color: yellow;
  display: block;
  
}

.mens {
  background-color: orange;
  display: block;
  
}

.styles {
  background-color: pink;
  display: block;
}

article {
  font-family: Futura;
  color: ;
  display: block;
  background: red;
  border-style: solid;
  border-width: 5px;
  border-color: black;
  width: 200px;
	height: 350px;
	margin: 0% 0px 0px 5%;
	position: absolute;
}

footer {
  display: block;
  background: blue;
  border-style: solid;
  border-width: 5px;
  border-color: black;
  margin: 400px 0px 0px 0px;
}




